/**
 * LoadingBar Style
 */
@import '../variables/index.scss';

.at-loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: $zindex-loading-bar;

  /* element */
  &__inner {
    height: 100%;
    transition: width .3s linear;
  }

  /* modifier */
  &--success {
    .at-loading-bar__inner {
      background-color: $loading-bar-bg-color-success;
    }
  }
  &--error {
    .at-loading-bar__inner {
      background-color: $loading-bar-bg-color-error;
    }
  }
}
